# Neural Network Titanic Data approach

This is my initial attempt to get a Neural Net up and running around the titanic data.

In [70]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import classification_report,confusion_matrix

In [7]:
passengers_data = pd.read_csv("titanic_data/train.csv", index_col="PassengerId")
passengers_data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

The first thing we can do is look at gender and age. We can translater `gender` to `isMale` and we can scale and normalize `age`.

In [15]:
passengers_data[["Survived", "Sex", "Age"]].head()

             Survived     Sex   Age
PassengerId
1                   0    male  22.0
2                   1  female  38.0
3                   1  female  26.0
4                   1  female  35.0
5                   0    male  35.0

In [21]:
features = passengers_data[["Sex", "Age"]]
result = passengers_data[["Survived"]]

X_train, X_test, y_train, y_test = train_test_split(features, result)

In [38]:
scaler = StandardScaler()
X_train_only_age = X_train[["Age"]].fillna(value=0, axis=1)
# X_train_only_age.Age.unique()
scaler.fit(X_train_only_age)
scaled_X_train_only_age = scaler.transform(X_train_only_age)
scaled_X_test_only_age = scaler.transform(X_test[["Age"]].fillna(value=0, axis=1))

print(scaled_X_train_only_age.shape)
print(scaled_X_test_only_age.shape)

(668, 1)
(223, 1)

In [52]:
X_train_is_male = X_train[["Sex"]].replace({"Sex": {"male": True, "female": False}}).values
X_test_is_male = X_test[["Sex"]].replace({"Sex": {"male": True, "female": False}}).values


X_test_is_male.shape

(223, 1)

In [64]:
import numpy as np

a = np.array([[1], [2], [3]])
b = np.array([[4], [5], [6]])

X_train_scaled = np.concatenate((scaled_X_train_only_age, X_train_is_male), axis=1)
X_test_scaled = np.concatenate((scaled_X_test_only_age, X_test_is_male), axis=1)

X_train_scaled.shape

(668, 2)

In [66]:
mlp = MLPClassifier(hidden_layer_sizes=(13),max_iter=500,verbose=True)
mlp.fit(X_train_scaled,y_train)

Iteration 1, loss = 0.69693142
Iteration 2, loss = 0.69251794
Iteration 3, loss = 0.68859848
Iteration 4, loss = 0.68472816
Iteration 5, loss = 0.68119525
Iteration 6, loss = 0.67776609
Iteration 7, loss = 0.67467497
Iteration 8, loss = 0.67162491
Iteration 9, loss = 0.66869537
Iteration 10, loss = 0.66590128
Iteration 11, loss = 0.66308964
Iteration 12, loss = 0.66048421
Iteration 13, loss = 0.65810817
Iteration 14, loss = 0.65550279
Iteration 15, loss = 0.65300476
Iteration 16, loss = 0.65063779
Iteration 17, loss = 0.64825791
Iteration 18, loss = 0.64597722
Iteration 19, loss = 0.64360583
Iteration 20, loss = 0.64145640
Iteration 21, loss = 0.63920050
Iteration 22, loss = 0.63704875
Iteration 23, loss = 0.63496230
Iteration 24, loss = 0.63280947
Iteration 25, loss = 0.63095469
Iteration 26, loss = 0.62885212
Iteration 27, loss = 0.62693646
Iteration 28, loss = 0.62503501
Iteration 29, loss = 0.62306251
Iteration 30, loss = 0.62111932
Iteration 31, loss = 0.61920767
Iteration 32, loss = 0.61727257
Iteration 33, loss = 0.61541517
Iteration 34, loss = 0.61354931
Iteration 35, loss = 0.61169559
Iteration 36, loss = 0.60997939
Iteration 37, loss = 0.60822108
Iteration 38, loss = 0.60641561
Iteration 39, loss = 0.60468441
Iteration 40, loss = 0.60292855
Iteration 41, loss = 0.60122608
Iteration 42, loss = 0.59937157
Iteration 43, loss = 0.59759574
Iteration 44, loss = 0.59580336
Iteration 45, loss = 0.59390600
Iteration 46, loss = 0.59210058
Iteration 47, loss = 0.59014324
Iteration 48, loss = 0.58832562
Iteration 49, loss = 0.58628670
Iteration 50, loss = 0.58449329
Iteration 51, loss = 0.58261384
Iteration 52, loss = 0.58063622
Iteration 53, loss = 0.57877085
Iteration 54, loss = 0.57683142
Iteration 55, loss = 0.57493192
Iteration 56, loss = 0.57299463
Iteration 57, loss = 0.57113530
Iteration 58, loss = 0.56927441
Iteration 59, loss = 0.56747372
Iteration 60, loss = 0.56553700
Iteration 61, loss = 0.56379497
Iteration 62, loss = 0.56195136
Iteration 63, loss = 0.56013887
Iteration 64, loss = 0.55829121
Iteration 65, loss = 0.55652505
Iteration 66, loss = 0.55480830
Iteration 67, loss = 0.55313056
Iteration 68, loss = 0.55128032
Iteration 69, loss = 0.54959461
Iteration 70, loss = 0.54785573
Iteration 71, loss = 0.54617659
Iteration 72, loss = 0.54449467
Iteration 73, loss = 0.54295460
Iteration 74, loss = 0.54130853
Iteration 75, loss = 0.53973628
Iteration 76, loss = 0.53819862
Iteration 77, loss = 0.53672544
Iteration 78, loss = 0.53515593
Iteration 79, loss = 0.53366819
Iteration 80, loss = 0.53235873
Iteration 81, loss = 0.53089731
Iteration 82, loss = 0.52952928
Iteration 83, loss = 0.52817367
Iteration 84, loss = 0.52687617
Iteration 85, loss = 0.52546165
Iteration 86, loss = 0.52427396
Iteration 87, loss = 0.52303118
Iteration 88, loss = 0.52184236
Iteration 89, loss = 0.52066697
Iteration 90, loss = 0.51957373
Iteration 91, loss = 0.51846523
Iteration 92, loss = 0.51741091
Iteration 93, loss = 0.51635836
Iteration 94, loss = 0.51530293
Iteration 95, loss = 0.51427915
Iteration 96, loss = 0.51341925
Iteration 97, loss = 0.51250289
Iteration 98, loss = 0.51157411
Iteration 99, loss = 0.51074885
Iteration 100, loss = 0.50999597
Iteration 101, loss = 0.50918857
Iteration 102, loss = 0.50847794
Iteration 103, loss = 0.50776948
Iteration 104, loss = 0.50712680
Iteration 105, loss = 0.50644405
Iteration 106, loss = 0.50586951
Iteration 107, loss = 0.50519452
Iteration 108, loss = 0.50465203
Iteration 109, loss = 0.50407154
Iteration 110, loss = 0.50346632
Iteration 111, loss = 0.50283454
Iteration 112, loss = 0.50240296
Iteration 113, loss = 0.50187065
Iteration 114, loss = 0.50130885
Iteration 115, loss = 0.50088601
Iteration 116, loss = 0.50043848
Iteration 117, loss = 0.50004517
Iteration 118, loss = 0.49967322
Iteration 119, loss = 0.49921693
Iteration 120, loss = 0.49890790
Iteration 121, loss = 0.49848506
Iteration 122, loss = 0.49820247
Iteration 123, loss = 0.49790722
Iteration 124, loss = 0.49762643
Iteration 125, loss = 0.49731489
Iteration 126, loss = 0.49708646
Iteration 127, loss = 0.49684684
Iteration 128, loss = 0.49661886
Iteration 129, loss = 0.49639823
Iteration 130, loss = 0.49617414
Iteration 131, loss = 0.49595541
Iteration 132, loss = 0.49579519
Iteration 133, loss = 0.49570127
Iteration 134, loss = 0.49553407
Iteration 135, loss = 0.49537008
Iteration 136, loss = 0.49522527
Iteration 137, loss = 0.49513634
Iteration 138, loss = 0.49497436
Iteration 139, loss = 0.49490066
Iteration 140, loss = 0.49475009
Iteration 141, loss = 0.49471340
Iteration 142, loss = 0.49463322
Iteration 143, loss = 0.49452154
Iteration 144, loss = 0.49441551
Iteration 145, loss = 0.49436015
Iteration 146, loss = 0.49431349
Iteration 147, loss = 0.49418117
Iteration 148, loss = 0.49412552
Iteration 149, loss = 0.49404762
Iteration 150, loss = 0.49398607
Training loss did not improve more than tol=0.000100 for two consecutive epochs. Stopping.

/Users/orion/.pyenv/versions/3.6.3/envs/titanic/lib/python3.6/site-packages/sklearn/neural_network/multilayer_perceptron.py:912: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=13, learning_rate='constant',
       learning_rate_init=0.001, max_iter=500, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=True, warm_start=False)

In [68]:
predictions = mlp.predict(X_test_scaled)
predictions

array([0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1,
       0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0])

In [71]:
print(classification_report(y_test,predictions))

             precision    recall  f1-score   support

          0       0.77      0.83      0.80       130
          1       0.73      0.65      0.69        93

avg / total       0.75      0.75      0.75       223